<p-sidebar [visible]="true" [showCloseIcon]="false" [modal]="false">


    <p-divider type="dotted"></p-divider>

    <button *ngIf="isLogin" pButton type="button" label="Home" class="p-button-outlined" [routerLink]="['/home']">
        <span class="pi pi-home"></span>
    </button>

    <button pButton type="button" label="About" class="p-button-outlined" [routerLink]="['/about']">
        <span class="pi pi-user"></span>
    </button>

    <button *ngIf="isLogin" pButton type="button" label="Chat" class="p-button-outlined" [routerLink]="['/chat']">
        <span class="pi pi-user"></span>
    </button>

    <!-- <p-splitButton *ngIf="isLogin" label="Games" [model]="this.item" dir="ltr" styleClass="p-button-raised p-button-text mr-2 mb-2">
    </p-splitButton> -->

    <button *ngIf="isLogin" pButton type="button" label="resultados" class="p-button-outlined" [routerLink]="['/games/resultados']">
        <span class="pi pi-user"></span>
    </button>

    <button *ngIf="isAdmin" pButton type="button" label="encuesta" class="p-button-outlined" [routerLink]="['/listaEncuesta']">
        <span class="pi pi-user"></span>
    </button>

    <p-divider class="d-flex align-items-end mt-5" type="dotted"></p-divider>
    <small class="font" *ngIf="isLogin">Welcome</small>
    <small class="font no-margin" *ngIf="isLogin">{{userEmail}}</small>

    <button *ngIf="!isLogin" pButton type="button" label="LogIn" class="p-button-outlined" [routerLink]="['/login']">
        <span class="pi pi-sign-in"></span>
    </button>

    <button *ngIf="isLogin" (click)="onClick()" pButton type="button" label="LogOut"
        class="p-button-outlined p-button-danger mt-5">
        <span class="pi pi-sign-out"></span>
    </button>


</p-sidebar>