<p-sidebar [visible]="true" [showCloseIcon]="false" [modal]="false">

    <p-divider type="dotted"></p-divider>



    <button pButton type="button" label="Home" class="p-button-outlined" [routerLink]="['/home']">
        <span class="pi pi-home"></span>
    </button>

    <button pButton type="button" label="About" class="p-button-outlined" [routerLink]="['/about']">
        <span class="pi pi-user"></span>
    </button>

    <p-divider class="mt-5" type="dotted"></p-divider>

    <div class="align-items-end">

        <button pButton type="button" label="LogIn" class="p-button-outlined" [routerLink]="['/login']">
            <span class="pi pi-sign-in"></span>
        </button>

        <button pButton type="button" label="LogOut" class="p-button-outlined p-button-danger"
            [routerLink]="['/signup']">
            <span class="pi pi-sign-out"></span>
        </button>
    </div>

</p-sidebar>