.contenedor {
    background-image: url(../../../../assets/img/encuesta-investigacion-haga-eleccion-tableta-plantillas-lista-verificacion_80328-189.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 10px;
}