<h1 class="text-center">Chat</h1>

<div class="card-body">

    <div class="chat">

        <div class="chat-history contenedorMensajes" id="contenedorMensajes">
            <ul class="m-b-0">
                <li *ngFor="let chat of chatService.chats" class="p-2"
                    [ngClass]="(user.uid==chat.uid)? 'enviado' : 'recibido'">
                    <div>
                        <span class="me align-items-left">{{ chat.email }} {{chat.fecha | date:'short'}}</span>
                    </div>
                    <div class="">{{ chat.mensaje }} </div>
                </li>

            </ul>
        </div>

    </div>

</div>

<form class="chatbox input-group" (ngSubmit)="send_message()">


    <span class="input-group-text" id="basic-addon2" (click)="send_message()">
        <i class="pi pi-send iconSend"></i>
    </span>
    <input type="text" class="form-control" placeholder="Send Message" [(ngModel)]="message"
        [ngModelOptions]="{standalone: true}">

</form>