h1{ 
    background-color: black;
    color: white;
    margin-bottom: 0;
    border-radius: 20px;
}

.card-body {
    background-image: url(../../../assets/img/chatfondo.jpg);
}
.contenedorMensajes {
    height: 500px;
    overflow-y: scroll;
    padding: 0.3rem;
    
}
.contenedorMensajes::-webkit-scrollbar {
    display: none;
}
.iconSend:active {
    transform: scale(0.6);
}
.me {
    font-weight: bold;
    color: black;
}
.enviado {
    display: block;
    float: right;
    background-color: teal;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.recibido {
    display: block;
    float: left;
    background-color:orange;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chatbox {
    margin-top: 10px;
}