<div class="contenedor">

    <div class="">

        <div class="row justify-content-md-center">

            <div class="col card text-bg-dark  ">
                <img src="../../../../assets/img/Ahorcado" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">Ahorcado</h5>
                    <p class="card-text">El ahorcado es un juego de adivinanzas. Un jugador piensa en una palabra, y el
                        otro
                        trata de adivinarla según lo que sugiere por letras o dentro de un cierto número de
                        oportunidades.
                    </p>
                    <button pButton pRipple type="button" label="Play" class="p-button-rounded p-button-info"
                        routerLink="/games/ahorcado"></button>
                </div>
            </div>

            <div class="col card text-bg-dark ms-4">
                <img src="../../../../assets/img/Ahorcado" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Mayor o Menor</h5>
                    <p class="card-text">Juego consiste en adivinar si las cartas de la baraja que van saliendo serán
                        mayores, menores o iguales.</p>
                    <button pButton pRipple type="button" label="Play" class="p-button-rounded p-button-info"
                        routerLink="/games/mayormenor"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col card text-bg-dark">
                <img src="../../../../assets/img/Ahorcado" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Preguntados</h5>
                    <p class="card-text">Preguntados es un juego de preguntas y respuestas de seis categorías
                        diferentes:
                        geografía, historia, arte, ciencia, entretenimiento, deportes.</p>
                    <button pButton pRipple type="button" label="Play" class="p-button-rounded p-button-info"></button>
                </div>
            </div>
            <div class="col card text-bg-dark ms-4">
                <img src="../../../../assets/img/Ahorcado" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Snake</h5>
                    <p class="card-text">El jugador controla una larga y delgada criatura, semejante
                        a una serpiente, que vaga alrededor de un plano delimitado, recogiendo alimentos, tratando de
                        evitar
                        golpearse contra su propia cola o las "paredes" que rodean el área de juego.</p>
                    <button pButton pRipple type="button" label="Play" class="p-button-rounded p-button-info "></button>
                </div>
            </div>
        </div>
    </div>
</div>